body{
    font-family: 'Roboto', sans-serif; 
}

.container{
    background-color: #23424A;
    margin: 0 auto;
    max-width: 900px;
    padding: 5rem;
}

.intro{ 
    width: 50%;
    margin-bottom: 3rem;
}

a{
    margin-top: 2rem;
    background-color: #38CFD9;
    padding: 1rem 2.5rem;
    border-radius: 25px;
    /*color: #136C72;*/
    color: #23424A; 
    text-decoration: none;
    font-weight: bold;
}

h1{
    margin-top: 0;
}

h1, p{
    color: white;
}